.cnt {
    padding-top: 10px;
}
.buttonFav{
    margin-left: 10px;
}
.nofav{
    border: 3px solid red;
    width: 400px;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    box-shadow: 0px 7px rgb(255, 149, 149);
}